/* Set body background color */
body {
  background-color: #afc78e;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Style the header section */
header {
  background-color: #008080;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Style the navigation links */
nav {
  background-color: #4CAF50;
  overflow: hidden;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  padding: 10px;

}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the main content section */
main {
  padding: 20px;
}

/* Style the image gallery */
section img {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 20px auto;
}

/* Style the footer section */
footer {
  background-color: #008080;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.container {
	margin: 20px;
}

h1 {
	text-align: center;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
}

.gallery img {
	width: 100%;
	height: auto;
}

.gallery-caption {
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}


/* Art Galleries page styles */
.art-gallery-container {
  margin: 50px auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

.art-gallery-card {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  overflow: hidden;
}

.art-gallery-card:hover {
  transform: translateY(-10px);
}

.art-gallery-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.art-gallery-card h2 {
  font-size: 24px;
  margin: 10px;
}

.art-gallery-card p {
  margin: 10px;
}

.art-gallery-card a {
  display: block;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.art-gallery-card a:hover {
  background-color: #3e8e41;
}

.art-gallery-container {
  margin: 50px auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

.art-gallery-card {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  overflow: hidden;
}

.art-gallery-card:hover {
  transform: translateY(-10px);
}

.art-gallery-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.art-gallery-card h2 {
  font-size: 24px;
  margin: 10px;
}

.art-gallery-card p {
  margin: 10px;
}

.art-gallery-card a {
  display: block;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.art-gallery-card a:hover {
  background-color: #3e8e41;
}
